<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualizations</title>
    <meta http-equiv="refresh" content="300"> <!-- Refresh every 5 minutes -->
    <!-- Plotly.js CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static', filename='fluid.js')}}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin-ext&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
